/*
black: #201d20
tan: #fdc886
cream: #ffeecb
yellow: #faa51a
red: #cd6a42
purple: #59495a
*/

html {
  --text-color: #59495a;

  font-family: filson-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;
  color: var(--text-color);
}

body {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 1000px;
}

a {
  color: var(--text-color);
}

nav {
  text-align: right;
}

nav a {
  display: inline-block;
  padding: .25rem;
  margin: .25rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  color: var(--text-color);
}

h1.logotype {
  margin: 5rem 0 3rem;
}

h1.logotype svg {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.homepage p {
  max-width: 80ch;
  margin: 0 auto;
}

.chapters svg path {
  fill: var(--text-color);
}

.chapter-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 40ch;
  font-size: 1.3em;
  line-height: 2.1;
}

.chapter-list a {
  text-decoration: none;
}
