/*
black: #201d20
tan: #fdc886
cream: #ffeecb
yellow: #faa51a
red: #cd6a42
purple: #59495a
*/

* {
  box-sizing: border-box;
}

.is-hidden {
  display: none !important;
}

html {
  --text-color: #59495a;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;
  color: var(--text-color);
  height: 100%;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: clamp(1em, 1.5vw, 2em);
  }
}

body {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: clamp(1000px, 80vw, 2000px);
  min-height: 100%;
}

a {
  color: var(--text-color);
}

nav {
  text-align: right;
}

nav a {
  display: inline-block;
  padding: .25rem;
  margin: .25rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  color: var(--text-color);
}

h1.logotype {
  margin: 5rem 0 3rem;
}

h1.logotype svg {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.homepage{
  padding: 5em 0 0 0;
}

.homepage p {
  font-size: 18pt;
  max-width: 80ch;
  margin: 0 auto;
  padding: .5em 0 0 0;
}

.chapters{
  padding: 5em 0 4em 0;
}

.chapters svg path {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
  fill: var(--text-color);
}

.chapter-list {
  padding: 10em 0em 0em 0em;
  list-style: none;
  margin: 0 0 0 2em;
  max-width: 40ch;
  font-size: 2.8em;
  line-height: 2.1;
}

.chapter-list a {
  text-decoration: none;
}

.content-page {
  background: #faa51a;
}


.content-page body {
  display: flex;
  flex-direction: column;
}

.content-page main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content-page h1 {
  text-align: center;
  font-weight: bold;
}

.content-box {
  background-color: #201d20;
  color: #ffeecb;
  border-radius: 2rem;
  padding: 4rem;
}

.content-box :first-child {
  margin-top: 0;
}

.content-box :last-child {
  margin-bottom: 0;
}

.content-page .next-container {
  text-align: right;
  margin: 1rem 0;
}

.content-page .next {
  display: inline-block;
  background-color: #201d20;
  padding: .5rem 1rem;
  border-radius: 0 1.4rem 1.4rem 0;
  color: #ffeecb;
  text-decoration: none;
  font-size: 1.2em;
}

.blob{
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.presenting{
  background: #59495a;
  color: #faa51a;
}

.presenting .next{
  color: #59495a;
  background-color: #faa51a;
  font-weight: bold;
}

.presenting a {
  color: #ffeecb;
}

.offboarding{
  background: #201d20;
  color: #ffeecb;
}

.offboarding .next{
  color: #ffeecb;
  background-color: #cd6a42;
  font-weight: bold;
}

.offboarding a {
  color: #ffeecb;
}

.offboarding .content-box{
  background-color: #cd6a42;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: #faa51a;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: dialog-slide-up 0.3s ease;
}

.overlay .close {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
  appearance: none;
  background: transparent;
  border: none;
  color: #ffeecb;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay .content-box {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@keyframes dialog-slide-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
