<!DOCTYPE html>
<html class="{{ page.class }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "./assets/styles/main.css" | relative_url }}">
    <script src="{{ "./assets/scripts/main.js" | relative_url }}"></script>
  </head>
  <body>
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
      <a href="{{ "/about.html" | relative_url }}">About</a>
      <a href="{{ "/chapters.html" | relative_url }}">Chapters</a>
    </nav>

   {{ content }}

  </body>
</html>
