<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "./assets/styles/main.css" | relative_url }}">
  </head>
  <body>
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
      <a href="{{ "/about.html" | relative_url }}">About</a>
      <a href="{{ "/chapters.html" | relative_url }}">Chapters</a>
    </nav>

   {{ content }}

  </body>
</html>
